.error {
	@import url(https://fonts.googleapis.com/css?family=Montserrat:800,200);

	font-family: montserrat;
	overflow-x: hidden;
	width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	background: #0d1117;
	line-height: 1.7;
	color: #fff;
	transform: skewY(0deg);
}

.error-bg-text-container {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	z-index: -999;
}

@keyframes text-scrolling {
	0% {
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		transform: translate3d(0%, 0, 0);
	}
}
.error-animate-text {
	animation: text-scrolling 20s linear infinite;
	will-change: transform;
	display: block;
	position: relative;
	white-space: nowrap;
}
.error-animate-text.left {
	animation-direction: reverse;
}

.error-span {
	font-size: 150px;
	color: transparent;
	-webkit-text-stroke: 2px #30442ab1;
	text-transform: uppercase;
	display: inline-block;
	line-height: 0.75;
	min-width: auto;
	font-weight: 800;
}

.error-container {
	padding: 30px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.error-container .col {
	max-width: 600px;
	margin: 0;
}

.error-h1 {
	/* text-align: center; */
	font-size: 30px;
	margin-top: -20px;
	/* margin: 0; */
}

.error-p {
	font-size: 18px;
	font-weight: 200;
	margin-top: 30px;
	/* margin: 0; */
}
